.button{
    min-width: 216px;
        height: 50px;
        cursor: pointer;
    
        border-radius: 4px;
        border: transparent;
    
        color:$btn-text-color;
        background-color:$accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: inherit;
        letter-spacing: 0.06em;
}