.contact-link{
        @extend .icon-box;
    width: 44px;
        height: 44px;
        fill: currentColor;
        color: #afb1b8;
        border-radius: 50%;

        transition: color 250ms $timing-function,
                background-color 250ms $timing-function 250ms; 
                &--white{
                    @extend .contact-link;
            fill: $text-color-white;
        }
        &:hover, &:focus{
            color: $text-color-white;
                background-color: $accent-color;
        }
       
}